@charset "UTF-8";

.div_img {
    width: auto;
    height: auto;
    background-image: url("../images/d7b1d126c58ec831b93d1d2058ec074e.png");
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 100%;
    border-radius: 3vw;
	box-sizing: border-box;
}

.text{
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    font-size: 2vw;
    text-align: center;
    color: #84deff;
    opacity: 0.7;
}

.text .text_right{
    text-align: right;
    margin-right: 30%;
    font-style: italic;
}
