<component name="ArtifactManager">
  <artifact type="jar" name="Server">
    <output-path>$PROJECT_DIR$/out/artifacts/Server</output-path>
    <root id="archive" name="Server.jar">
      <element id="module-output" name="practice" />
      <element id="dir-copy" path="$PROJECT_DIR$/src/com/PracticalTraining/N6" />
    </root>
  </artifact>
</component>